@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Tinos&display=swap');

html {
    background-color: #212529;
}


.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform-origin: bottom;
    background: #0f0f0f;
}


.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform-origin: top;
    background: #0f0f0f;
}

/* ===== SCROLLBAR ===== */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* ----- NAVBAR ----- */

.point {
    cursor: pointer;
}

#curriculum-pic {
    width: 250px;
    border-radius: 50%;
    border: 10px solid white;
    object-fit: cover;
    object-position: top;
    height: 250px;
}

li {
    list-style-type: none;
    font-family: 'Comfortaa', cursive;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.hover-eff::after {
    content: "";
    background: white;
    mix-blend-mode: exclusion;
    width: calc(100% + 20px);
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.hover-eff {
    display: block;
    color: white;
    text-decoration: none;
    position: relative;
}

.hover-eff:hover::after {
    height: calc(100% + 8px)
}

/* CARD CONTENT */

.code-editor {
    background-color: #1d1e22;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 2px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.title {
    font-family: Lato, sans-serif;
    font-weight: 900;
    font-size: 14px;
    letter-spacing: 1.57px;
    color: rgb(212 212 212);
}

.editor-content {
    margin: 0 10px 10px;
    color: white;
}

.property {
    margin-left: 30px;
}

.property:hover {
    cursor: text;
}

.editor-content .color-0 {
    color: rgb(86 156 214);
}

.editor-content .color-1 {
    color: rgb(182 206 168);
}

.editor-content .color-2 {
    color: rgb(156 220 254);
}

.editor-content .color-3 {
    color: rgb(207 146 120);
}

.color-4 {
    color: white;
}

.color-preview-1,
.color-preview-2 {
    height: 8px;
    width: 8px;
    border: 1px solid #fff;
    display: inline-block;
    margin-right: 3px;
}

.color-preview-1 {
    background-color: #1d1e22;
}

.color-preview-1 {
    background-color: rgba(0, 0, 0, 0.5);
}

/* ----- FOOTER ----- */

#today-greeting {
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
    text-align: center;
}

.i-am-size {
    text-align: start;
}


/* ===== ABOUT PAGE ===== */


#my-bio {
    font-size: 20px;
}

/* ===== PROJECTS PAGE ===== */

.radius-perso {
    border-radius: 0px 50px !important;
}

.perso {

    background-color: #f8f9fa;
    padding: 10px 30px;
    border: solid #f8f9fa 2px;
    border-radius: 0px 50px;
    transition: 500ms;
    transform: translateY(0);
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.perso:hover {

    transition: 500ms;
    padding: 10px 50px;
    transform: translateY(-0px);
    background-color: #fff;
    border: solid 2px #15ff00;
}


.section-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 400px;
    width: 50%;
}

.section-child {
    scroll-snap-align: start;
    height: 400px;
}

.div-child {
    height: 400px;
}


/* ----- ANIMATIONS ----- */

@keyframes i-am-animation {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

#i-am {
    animation: i-am-animation 3s infinite;
}

.fade-in-card {
    animation: fade-in-cards 1.5s;
}

@keyframes fade-in-cards {
    from {
        opacity: 0;
        left: 200px;
        position: relative;
    }

    to {
        opacity: 1;
        left: 0;
        position: relative;
    }
}

.fade-in-greeting {
    animation: fade-in-greet 20s;
}

@keyframes fade-in-greet {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in-icons {
    animation: fade-in-ic 2s;
}

@keyframes fade-in-ic {
    from {

        opacity: 0;
        right: 600px;
        position: relative;
    }

    to {
        opacity: 1;
        right: 0;
        position: relative;
    }
}

.myskill1 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-fill-mode: forwards;
}

.myskill2 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 0.10s;
    animation-fill-mode: forwards;
}

.myskill3 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 0.20s;
    animation-fill-mode: forwards;
}

.myskill4 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 0.30s;
    animation-fill-mode: forwards;
}

.myskill5 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 0.40s;
    animation-fill-mode: forwards;
}

.myskill6 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 0.50s;
    animation-fill-mode: forwards;
}

.myskill7 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 0.60s;
    animation-fill-mode: forwards;
}

.myskill8 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 0.70s;
    animation-fill-mode: forwards;
}

.myskill9 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 0.80s;
    animation-fill-mode: forwards;
}

.myskill10 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 0.90s;
    animation-fill-mode: forwards;
}

.myskill11 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.myskill12 {
    opacity: 0;
    animation: skillsanimation 2s;
    animation-delay: 1.10s;
    animation-fill-mode: forwards;
}

@keyframes skillsanimation {
    from {
        position: relative;
        right: 900px;
        opacity: 0;
    }

    to {
        position: relative;
        right: 0px;
        opacity: 1;
    }
}


/* ----- FORCED QUERY ----- */

@media screen and (max-width:768px) {
    #about-me-card {
        border-bottom: 1px solid white !important;
        border-right: none !important;
    }
}

@media screen and (max-width:884px) {
    #curriculum-pic {
        display: none;
    }

    #navbar-hap {
        display: flex;
        justify-content: center !important;
    }
}

@media screen and (max-width:500px) {

    .code > p span{
        font-size: 12px !important;
        margin: 0px;
    }

    #i-am{
        font-size: calc(1.425rem + 2.1vw) !important;
    }

    .hover-eff {
        font-size: 50px !important;
    }

    #main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px !important;
    }

    #card-container{
        padding: 20px !important;
    }
}